@model TransporteCarga.ViewModels.OrdenViewModel

@{
    ViewBag.Title = "Editar";
}


@*@using (Html.BeginForm())
    {*@
@*@Html.AntiForgeryToken()*@
@Html.HiddenFor(model => Model.Orden.ordenId)


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Solicitud de Guía</h2>
        <ol class="breadcrumb">
            <li>
                @*@Html.ActionLink("Lista", "Index")*@
                <a href="~/Pedido/Index/"> Lista </a>
            </li>
            <li class="active">
                <strong>Edición de Guía</strong>
            </li>
        </ol>
    </div>
    @*<div class="col-lg-2">

        </div>*@
</div>



<div class="form-horizontal">
    @*<h4>Crear Pedido de Compra</h4>
        <hr />*@
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-xs-12">
            <input value="Guardar!" class="btn btn-primary" id="BtnGuardar" />
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Cabecera</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @*<label class="font-noraml col-sm-2 control-label">Obra</label>*@
                        <label class="control-label" for="order_id">Remitente</label>
                        @*<select data-placeholder="Elija el Remitente..." class="chosen-select" style="width:250px;" tabindex="1" id="remitente">
                            <option value="">Seleccione</option>

                            @foreach (var item in Model.Clientes)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.clienteid)>
                                    @Html.DisplayFor(modelItem => item.razonSocial)
                                </option>
                            }
                        </select>*@
                        @Html.DropDownListFor(x => x.Clientes[0].clienteid, (IEnumerable<SelectListItem>)ViewBag.Remitente, new { @class = "chosen-select", @id = "remitente" })
                        @*@Html.ValidationMessageFor(model => model.Pedido.clienteId)*@
                        <label class="control-label" for="order_id">¿Pago?</label>
                        @if(Model.Orden.clientePagoId == Model.Orden.clienteOrigenId)
                        {
                            <input type="checkbox" class="i-checks" id="chkClientePagoRemitente" name="input[]" checked="checked">
                        }
                        else
                        { 
                            <input type="checkbox" class="i-checks" id="chkClientePagoRemitente" name="input[]" >
                        }   
                            
                        

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @*<label class="font-noraml col-sm-2 control-label">Obra</label>*@
                        <label class="control-label" for="order_id">Destinatario</label>
                        @*<select data-placeholder="Elija el Remitente..." class="chosen-select" style="width:250px;" tabindex="1" id="destinatario">
                            <option value="">Seleccione</option>

                            @foreach (var item in Model.Clientes)
                            {
                                <option value=@Html.DisplayFor(modelItem => item.clienteid)>
                                    @Html.DisplayFor(modelItem => item.razonSocial)
                                </option>
                            }
                        </select>*@
                        @Html.DropDownListFor(x => x.Clientes[0].clienteid, (IEnumerable<SelectListItem>)ViewBag.Destinatario, new { @class = "chosen-select", @id = "destinatario" })
                        <label class="control-label" for="order_id">¿Pago?</label>

                        @if (Model.Orden.clientePagoId == Model.Orden.clienteDestinatarioId)
                        {
                            <input type="checkbox" class="i-checks" id="chkClientePagoDestinatario" name="input[]" checked="checked">
                        }
                        else
                        {
                            <input type="checkbox" class="i-checks" id="chkClientePagoDestinatario" name="input[]">
                        }   

                        @*<input type="checkbox" class="i-checks" id="chkClientePagoDestinatario" name="input[]">*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="order_id">Punto Partida</label>
                        @*@Html.DropDownListFor(x => x.Orden.direccionOrigenId, (IEnumerable<SelectListItem>)ViewBag.direccionOrigenId, new { @class = "chosen-select" })*@
                        @Html.DropDownList("direccionOrigenId", String.Empty)

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="order_id">Punto Llegada</label>
                        @*@Html.DropDownList("direccionDestinoId", (IEnumerable<SelectListItem>)ViewBag.direccionDestinoId, new { @class = "chosen-select" })*@
                        @Html.DropDownList("direccionDestinoId", String.Empty)
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="order_id">¿Desea genererar Guía con Monto Total?</label>
                        @if (Model.Orden.Detalles.Sum(a => a.precioTotal) == 0)
                        {
                            <input type="checkbox" class="js-switch" id="chkModalGlobal" checked="checked" /> @*checked*@
                        }
                        else
                        { 
                            <input type="checkbox" class="js-switch" id="chkModalGlobal"/> @*checked*@
                        }

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="input-group">
                            <form role="form" id="form">
                            @if (Model.Orden.Detalles.Sum(a => a.precioTotal) == 0)
                            {
                                <input type="text" placeholder="Ingrese Precio Total" class="form-control" name="txtPrecioTotal" id="txtPrecioTotal" value="@Model.Orden.subTotal"> 
                            }
                            else { 
                                <input type="text" placeholder="Ingrese Precio Total" class="form-control" name="txtPrecioTotal" id="txtPrecioTotal" disabled value="@Model.Orden.subTotal"> 
                            }

                                @*<div class="form-group"> <input type="text" placeholder="Ingrese Precio Total" class="form-control" name="txtPrecioTotal" id="txtPrecioTotal" disabled></div>*@
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="order_id">Comentario</label>
                        <input type="text" class="form-control" tabindex="3" id="comentario"> <span class="help-block m-b-none">Agregue algún comentario a considerar durante la Entrega</span>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Productos</h4>
                    @*<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>*@
                </div>
                <div class="modal-body">

                    @*Aqui lista de productos*@
                    <div class="row">


                        <div class="col-lg-2">
                            <label class="control-label">Cantidad:</label>

                        </div>
                        <div class="col-lg-4">
                            @*<input type="text" class="form-control" id="txtCantidadModal">*@
                            @*<input type="text" placeholder="Ingrese Cantidad" class="form-control" name="number" id="number">*@
                            <form role="form" id="form">
                                <div class="form-group"> <input type="text" placeholder="Ingrese cantidad" class="form-control" name="number" id="txtCantidadModal"></div>
                                @*<div class="form-group"> <input type="text" placeholder="Ingrese precio" class="form-control" name="number" id="txtPrecioModal"></div>*@
                            </form>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Precio:</label>
                        </div>
                        <div class="col-lg-4">
                            <form role="form" id="form2">
                                <div class="form-group"> <input type="text" placeholder="Ingrese precio" class="form-control" name="number" id="txtPrecioModal"></div>
                            </form>
                        </div>
                        @*<div class="col-lg-6">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio1" value="valPrecio1" name="radioInline" checked="">
                                    <label for="inlineRadio1"> Precio 1 </label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio2" value="valPrecio2" name="radioInline">
                                    <label for="inlineRadio2">  Precio 2 </label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio3" value="valPrecio3" name="radioInline">
                                    <label for="inlineRadio2">  Precio 3 </label>
                                </div>
                            </div>*@

                    </div>

                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Elija sus Productos haciendo click en el botón de cada producto de la Siguiente Tabla. Use el Filtro de Búsqueda</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <table class="table table-striped table-bordered table-hover dataTables-example" id="tableMaterial">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th hidden="hidden">Código</th>
                                                    <th>Producto</th>
                                                    <th>Presentación</th>
                                                    @*<th>Stock</th>*@
                                                    @*<th>Precio 1</th>
                                                        <th>Precio 2</th>
                                                        <th>Precio 3</th>*@
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Productos)
                                                {

                                                    <tr class="gradeX">
                                                        <td>@Html.DisplayFor(modelItem => item.productoId)</td>
                                                        <td hidden="hidden"></td>
                                                        <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.UnidadMedida.nombre)</td>
                                                        @*<td>@Html.DisplayFor(modelItem => item.stock)</td>
                                                            <td>@item.precio1 </td>
                                                            <td>@item.precio2 </td>
                                                            <td>@item.precio3 </td>*@
                                                        <td> <button type="button" class="btn btn-success btn-sm btn-block" id="btnAgregar"> Agregar!!</button></td>
                                                    </tr>
                                                }



                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th hidden="hidden">Código</th>
                                                    <th>Producto</th>
                                                    <th>Presentación</th>
                                                    @*<th>Stock</th>
                                                        <th>Precio 1</th>
                                                        <th>Precio 2</th>
                                                        <th>Precio 3</th>*@
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    @*Fin Lista de Productos*@

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal inmodal fade" id="myModalTotales" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Productos</h4>
                </div>
                <div class="modal-body">

                    @*Aqui lista de productos*@
                    <div class="row">

                        <div class="col-lg-2">
                            <label class="control-label">Cantidad:</label>

                        </div>
                        <div class="col-lg-4">
                            <form role="form" id="form">
                                <div class="form-group"> <input type="text" placeholder="Ingrese cantidad" class="form-control" name="number" id="txtCantidadModalTotales"></div>

                            </form>
                        </div>

                    </div>

                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Elija sus Productos haciendo click en el botón de cada producto de la Siguiente Tabla. Use el Filtro de Búsqueda</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <table class="table table-striped table-bordered table-hover dataTables-example" id="tableMaterialTotales">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th hidden="hidden">Código</th>
                                                    <th>Producto</th>
                                                    <th>Presentación</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Productos)
                                                {

                                                    <tr class="gradeX">
                                                        <td>@Html.DisplayFor(modelItem => item.productoId)</td>
                                                        <td hidden="hidden"></td>
                                                        <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.UnidadMedida.nombre)</td>
                                                        <td> <button type="button" class="btn btn-success btn-sm btn-block" id="btnAgregar"> Agregar!!</button></td>
                                                    </tr>
                                                }



                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th hidden="hidden">Código</th>
                                                    <th>Producto</th>
                                                    <th>Presentación</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    @*Fin Lista de Productos*@

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper wrapper-content  animated fadeInRight">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal5" id="btnOpenModal">
            Agregar Producto
        </button>

        <div class="row">
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">

                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Productos Agregados</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table id="editableMaterial2" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th hidden="hidden">Id</th>

                                                        <th>Producto</th>
                                                        <th>Presentación</th>
                                                        <th>Cantidad</th>
                                                        <th></th>
                                                        <th>Precio</th>
                                                        <th>Sub Total</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.Orden.Detalles)
                                                {

                                                    <tr class="gradeX">
                                                        <td hidden="hidden">@Html.DisplayFor(modelItem => item.Producto.productoId)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Producto.nombre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Producto.UnidadMedida.nombre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
                                                        <td></td>
                                                        <td>@Html.DisplayFor(modelItem => item.precioUnitario)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.precioTotal)</td>
                                                        <td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar"> Eliminar!!</button></td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <strong>Totales</strong>

                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right"><label class="control-label" id="lblSubTotal">@Html.DisplayFor(model => model.Orden.subTotal)</label> </span>
                                    SubTotal
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> <label class="control-label" id="lblIgv">@Html.DisplayFor(model => model.Orden.igv)</label> </span>
                                    IGV
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> <label class="control-label" id="lblTotal">@Html.DisplayFor(model => model.Orden.Total)</label> </span>
                                    Total
                                </li>

                            </ul>

                            <button type="button" class="btn btn-default btn-sm btn-block" id="BtnCalcular">
                                <i class="fa fa-calculator"></i> Calcular
                            </button>
                        </div>
                    </div>

                </div>

                @*<div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">

                                <div class="row m-b-lg">

                                    <div class="col-lg-12">
                                        <strong>
                                            <label id="lblIdMaterial"></label>
                                            <h2><label class="control-label" id="lblMaterial">Seleccione Producto</label></h2>
                                        </strong>


                                    </div>
                                </div>
                                <div class="client-detail">
                                    <div class="full-height-scroll">

                                        <strong>Ingresar Información</strong>

                                        <ul class="list-group clear-list">

                                            <li class="list-group-item fist-item">
                                                <label class="control-label" for="order_id">Cantidad</label>
                                                <input type="text" id="txtcantidad" class="form-control" style="width:250px;">
                                                <label class="control-label" id="lblUnidadMedida"> </label>
                                            </li>

                                        </ul>
                                        <strong>Nota</strong>
                                        <p>
                                            Luego de ingresado las cantidades, agregue los valores de los materiales haciendo click en Agregar!
                                        </p>
                                        <hr />
                                        <button type="button" class="btn btn-success btn-sm btn-block" id="btnAgregarItem">
                                            <i class="fa fa-save"></i> Agregar!
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>



</div>

@*}*@


<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>




@section Styles {

    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#lblIdMaterial").css('visibility', 'hidden');


            //Direcciones Ajax
            $("#remitente").change(function () {

                $.ajax({
                    url: "@Url.Action("GetDireccionesByCliente", "Direccion")",
                    data: { id: $("#remitente").val() },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#direccionOrigenId").empty();

                        for (var i = 0; i < data.length; i++) {
                            $("#direccionOrigenId").append("<option value=" + data[i].direccionId + ">" + data[i].descripcion + "</option>");
                        }

                    },
                    error: function () {

                    }
                });
            });

            $("#destinatario").change(function () {

                $.ajax({
                    url: "@Url.Action("GetDireccionesByCliente", "Direccion")",
                    data: { id: $("#destinatario").val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#direccionDestinoId").empty();

                    for (var i = 0; i < data.length; i++) {
                        $("#direccionDestinoId").append("<option value=" + data[i].direccionId + ">" + data[i].descripcion + "</option>");
                    }

                },
                error: function () {

                }
            });
        });
            // Fin Direcciones Ajax


            // Modal Jquery

            $("#chkModalGlobal").change(function () {
                if ($(this).is(':checked'))
                {
                    //alert("checked");

                    //$('#btnOpenModal').prop('disabled', true);
                    //$('#btnOpenModal').data('target', "#myModalTotales");
                    $('#btnOpenModal').attr('data-target', "#myModalTotales");
                    $('#txtPrecioTotal').attr('disabled', false);
                    //$('#txtPrecioTotal').prop("disabled", false);
                    $('#txtPrecioTotal').focus();


                }
                else {
                    //alert("No checked");
                    //$('#btnOpenModal').data('target', "#myModal5");
                    $('#btnOpenModal').attr('data-target', "#myModal5");
                    $('#txtPrecioTotal').attr('disabled', true);
                    $('#txtPrecioTotal').val("");

                }
            });
            //Fin Modal  Jquery

            // Manejo Tables

            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ],
                "order": [[1, "asc"]],
                "pageLength": 10

            });

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });

            // Fin Manejo Tables


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });


            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });


            // Función que copia contenido de fila seleccionada y copia en tabla destino
            var table = $('#tableMaterial').DataTable();
            var table = $('#tableMaterialtableMaterialTotales').DataTable();

            //$('#editableMaterial tbody').on('click', 'button', function () {
            //    table2
            //            .row($(this).parents('tr'))
            //            .remove()
            //            .draw();
            //});

            //Función Tabla Modal Detalle
            $('#tableMaterial tbody').on('click', 'button', function () {



                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                //var row = $(this),
                var row = $(this).parents('tr')


                cloneRow = row.clone();

                cloneRow.append('<td><input type="text" class="form-control" id="cantidad"></td>').append('<td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar"> Eliminar!!</button></td>');
                copyTable = $('#editableMaterial tbody');
                var table3 = $('#editableMaterial').DataTable();
                //table3.row.add([1, 2, 3, 4]).draw();
                table3.row.add(cloneRow).draw();
                //table.row('.selected').remove().draw(false);

                // Nueva Tabla de Materiales seleccionados
                cloneRow2 = row.clone();
                //cloneRow2.append('<td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar2"> Eliminar!!</button></td>').append('<td><a data-toggle="tab" href="#contact-1" class="client-link">Cantidad</a></td>')
                var codigo = cloneRow2.find("td:eq(0)").html();
                var nombre = cloneRow2.find("td:eq(2)").html();
                var unidadmedida = cloneRow2.find("td:eq(3)").html();
                //var precio = cloneRow2.find("td:eq(5)").html();
                var cantidad = $("#txtCantidadModal").val();
                var precio = $("#txtPrecioModal").val();

                //Validación de cantidad y precio

                if ($('input[type=radio][name=radioInline]:checked').val() == 'valPrecio2')
                    {
                        precio = cloneRow2.find("td:eq(6)").html();
                    }
                else if ($('input[type=radio][name=radioInline]:checked').val() == 'valPrecio3')
                    {
                    precio = cloneRow2.find("td:eq(7)").html();
                    }


                if (cantidad == "" || $.isNumeric(cantidad) == false)
                {
                    alert("Debe ingresar Cantidad para el producto seleccionado: "+nombre);
                    $("#txtCantidadModal").focus();
                    return;
                }

                if (precio != "" && $.isNumeric(precio) == false) {
                    alert("Debe ingresar Precio válido para el producto seleccionado: " + nombre);
                    $("#txtPrecioModal").focus();
                    return;
                }
                //else if (precio == 0 || $.isNumeric(precio) == false)
                //{
                //    alert("El Precio seleccionado no es válido para el producto seleccionado: " + nombre);
                //    return;

                //}
                else {
                    if (precio == "")
                        precio = 0;
                    $("#editableMaterial2").append('<tr><td hidden="hidden">' + codigo + '</td><td>' + nombre + '</td><td>' + unidadmedida + '</td><td>' + cantidad + '</td><td></td><td>' + precio + '</td><td>' + precio*cantidad + '</td><td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar2"> Eliminar!!</button></td></tr>');
                    $('#txtCantidadModal').val("");
                    $('#txtPrecioModal').val("");
                }





                //Cerrar Modal
                $('#myModal5').modal('toggle');
                //$('#myModalTotales').modal('toggle');

                $('input[type=radio][name=radioInline][value=valPrecio1]').prop('checked', true);

                $("#BtnCalcular").click();

            });

            //Función Tabla Modal Global
            $('#tableMaterialTotales tbody').on('click', 'button', function () {



                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                //var row = $(this),
                var row = $(this).parents('tr')


                cloneRow = row.clone();

                cloneRow.append('<td><input type="text" class="form-control" id="cantidad"></td>').append('<td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar"> Eliminar!!</button></td>');
                copyTable = $('#editableMaterial tbody');
                var table3 = $('#editableMaterial').DataTable();
                //table3.row.add([1, 2, 3, 4]).draw();
                table3.row.add(cloneRow).draw();
                //table.row('.selected').remove().draw(false);

                // Nueva Tabla de Materiales seleccionados
                cloneRow2 = row.clone();
                //cloneRow2.append('<td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar2"> Eliminar!!</button></td>').append('<td><a data-toggle="tab" href="#contact-1" class="client-link">Cantidad</a></td>')
                var codigo = cloneRow2.find("td:eq(0)").html();
                var nombre = cloneRow2.find("td:eq(2)").html();
                var unidadmedida = cloneRow2.find("td:eq(3)").html();
                //var precio = cloneRow2.find("td:eq(5)").html();
                var cantidad = $("#txtCantidadModalTotales").val();
                var precio = $("#txtPrecioModal").val();

                //Validación de cantidad y precio
                precio = 0;
                //if ($('input[type=radio][name=radioInline]:checked').val() == 'valPrecio2') {
                //    precio = cloneRow2.find("td:eq(6)").html();
                //}
                //else if ($('input[type=radio][name=radioInline]:checked').val() == 'valPrecio3') {
                //    precio = cloneRow2.find("td:eq(7)").html();
                //}


                if (cantidad == "" || $.isNumeric(cantidad) == false) {
                    alert("Debe ingresar Cantidad para el producto seleccionado: " + nombre);
                    $("#txtCantidadModal").focus();
                    return;
                }

                //if (precio == "" || $.isNumeric(precio) == false) {
                //    alert("Debe ingresar Precio para el producto seleccionado: " + nombre);
                //    $("#txtPrecioModal").focus();
                //    return;
                //}
                    //else if (precio == 0 || $.isNumeric(precio) == false)
                    //{
                    //    alert("El Precio seleccionado no es válido para el producto seleccionado: " + nombre);
                    //    return;

                    //}
                else {
                    $("#editableMaterial2").append('<tr><td hidden="hidden">' + codigo + '</td><td>' + nombre + '</td><td>' + unidadmedida + '</td><td>' + cantidad + '</td><td></td><td>' + precio + '</td><td>' + precio * cantidad + '</td><td><button type="button" class="btn btn-danger btn-sm btn-block" id="btnEliminar2"> Eliminar!!</button></td></tr>');
                    $('#txtCantidadModal').val("");
                    $('#txtPrecioModal').val("");
                }





                //Cerrar Modal
                //$('#myModal5').modal('toggle');
                $('#myModalTotales').modal('toggle');

                $('input[type=radio][name=radioInline][value=valPrecio1]').prop('checked', true);

                $("#BtnCalcular").click();

            });



            //Fin funcion



            // Función que elimina fila de Tabla Materiales Seleccionados
            var table2 = $('#editableMaterial').DataTable();

            $('#editableMaterial tbody').on('click', 'button', function () {


                table2
                        .row($(this).parents('tr'))
                        .remove()
                        .draw();


            });




            var table3 = $('#editableMaterial2');


            $('#editableMaterial2').on('click', 'button', function () {

                $(this).parents('tr').remove();

                $("#BtnCalcular").click();

            });


            // Fin Función que elimina fila de Tabla Materiales Seleccionados


            $("#btnAgregarItem").click(function () {

                var idmaterial = $('#lblIdMaterial').text();
                var cantidad = $('#txtcantidad').val();
                var partidacodigo = $("#partidaid").val();
                var partidatexto = $("#partidaid option:selected").text();


                if (idmaterial == "") {
                    alert("No ha seleccionado Material");
                    return;
                }

                if (cantidad == "") {
                    alert("Ingrese cantidad");
                    return;
                }
                if (partidacodigo == "") {
                    alert("Seleccione la Partida");
                    return;
                }

                $('#editableMaterial2 tr').each(function () {


                    if ($(this).find("td").eq(0).html() == $('#lblIdMaterial').text()) {

                        // alert($("#partidaid option:selected").text());


                        $(this).find("td").eq(3).text(cantidad);
                        //$(this).find("td").eq(4).text(partidacodigo);
                        //$(this).find("td").eq(5).text(partidatexto);
                    }

                });


                $('#lblIdMaterial').text("");
                $('#lblMaterial').text("");
                $('#lblUnidadMedida').text("");
                $('#txtcantidad').val("");






            });


            // Función que guarda datos de Tabla Materiales Seleccionados


            $("#BtnGuardar").click(function () {

                var chkClientePagoRemitente = false;
                var chkClientePagoDestinatario = false;
                chkClientePagoRemitente = $("#chkClientePagoRemitente").is(":checked");
                chkClientePagoDestinatario =   $("#chkClientePagoDestinatario").is(":checked");
                if (chkClientePagoRemitente == true && chkClientePagoDestinatario == true) {
                    alert("Solo debe seleccionar solo un Cliente a Pagar")
                    return;
                }
                else if (chkClientePagoRemitente == false && chkClientePagoDestinatario == false) {
                    alert("Debe seleccionar al Cliente a Pagar")
                    return;
                }


                var cells = [];
                var rows = $("#editableMaterial").dataTable().fnGetNodes();


                $('#editableMaterial2 tr').each(function () {
                    cells.push({
                        cantidad: $(this).find("td").eq(3).html(),
                        productoId: $(this).find("td").eq(0).html(),
                        precio: $(this).find("td").eq(5).html(),
                        //partidaId: $(this).find("td").eq(4).html()


                    });
                });

                //alert(cells);

                //var data = $.parseJSON(cells);
                var Detalles = [];
                var precioTotal =0.0;
                for (var i = 1; i < cells.length; i++) {
                    var pedidoDetalle = new Object();
                    pedidoDetalle.ordenId = $("#Orden_ordenId").val();
                    pedidoDetalle.productoId = cells[i].productoId;
                    pedidoDetalle.cantidad = cells[i].cantidad;
                    pedidoDetalle.precioUnitario = cells[i].precio;
                    pedidoDetalle.precioTotal = pedidoDetalle.cantidad * pedidoDetalle.precioUnitario;
                    precioTotal = precioTotal + pedidoDetalle.precioTotal;
                    Detalles.push(pedidoDetalle);
                }


                var pedido = new Object();

                pedido.ordenId = $("#Orden_ordenId").val();

                //pedido.clienteId = $("#cliente").val();
                pedido.clienteOrigenId = $("#remitente").val();
                pedido.clienteDestinatarioId = $("#destinatario").val();


                if ($("#chkClientePagoRemitente").is(":checked")) {
                    pedido.clientePagoId = $("#remitente").val();
                }
                else if ($("#chkClientePagoDestinatario").is(":checked")) {
                    pedido.clientePagoId = $("#destinatario").val();
                }
                pedido.comentario = $("#comentario").val();

                if ($('#chkModalGlobal').is(':checked'))
                {
                    //alert('checked');
                    if ($("#txtPrecioTotal").val() != "")
                        pedido.subTotal = $("#txtPrecioTotal").val();
                    else
                        pedido.subTotal = 0;
                }
                else
                {
                    //alert('no checked');
                    pedido.subTotal = precioTotal;
                }



                pedido.igv = pedido.subTotal * 0.18;
                pedido.total = pedido.subTotal * 1.18;
                pedido.direccionOrigenId = $("#direccionOrigenId").val();
                pedido.direccionDestinoId = $("#direccionDestinoId").val();

                pedido.Detalles = Detalles;

                var pedidoViewModel = new Object();


                PedidoFinal = JSON.stringify({ 'orden': pedido });

                //alert(RequerimientoFinal);


                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    //dataType: 'json', // Tells the server what kind of content the client is expecting back as the result.
                    type: 'POST',
                    //          param: RequerimientoFinal,
                    url: '@Url.Action("EditarOrden")',
                    data: PedidoFinal,
                    success: function (data) {
                        //alert('success');
                        window.location = '@Url.Action("Index", "Orden")';
                    },
                    error: function (result) {

                        alert('No se pudo insertar. Revise que toda la información esté seleccionada');

                    }
                });

            });


            //Validación

            $("#form").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 3
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    min: {
                        required: true,
                        minlength: 6
                    },
                    max: {
                        required: true,
                        maxlength: 4
                    }
                }
            });



            $("#BtnCalcular").click(function () {

                var cells = [];
                var rows = $("#editableMaterial").dataTable().fnGetNodes();



                $('#editableMaterial2 tr').each(function () {
                    cells.push({
                        cantidad: $(this).find("td").eq(3).html(),
                        precio: $(this).find("td").eq(5).html(),


                    });

                });

                var subtotal = 0;
                var igv = 0;
                var total = 0;

                for (var i = 1; i < cells.length; i++) {
                    subtotal = subtotal + cells[i].precio * cells[i].cantidad;
                }

                igv = subtotal * 0.18;
                total = subtotal * 1.18;


                $('#lblSubTotal').text(subtotal.toFixed(2));
                $("#lblIgv").text(igv.toFixed(2));
                $("#lblTotal").text(total.toFixed(2));

            });

        });




        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

    </script>
}
