@model TransporteCarga.Models.Proveedor

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Proveedor</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.proveedorId)

        <div class="form-group">
            @Html.LabelFor(model => model.razonSocial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.razonSocial)
                @Html.ValidationMessageFor(model => model.razonSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ruc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ruc)
                @Html.ValidationMessageFor(model => model.ruc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contacto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contacto)
                @Html.ValidationMessageFor(model => model.contacto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion)
                @Html.ValidationMessageFor(model => model.direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Banco</label>
            <div class="col-md-10">
                @Html.DropDownList("bancoId", String.Empty)
                @Html.ValidationMessageFor(model => model.bancoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nroCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nroCuenta)
                @Html.ValidationMessageFor(model => model.nroCuenta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
