@model TransporteCarga.Models.Orden

@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Crear</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear Orden</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero)
                @Html.ValidationMessageFor(model => model.numero)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cliente</label>
            <div class="col-md-10">
                @Html.DropDownList("clienteId", String.Empty)
                @Html.ValidationMessageFor(model => model.clienteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estadoOrdenId, "estadoOrdenId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("estadoOrdenId", String.Empty)
                @Html.ValidationMessageFor(model => model.estadoOrdenId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subTotal)
                @Html.ValidationMessageFor(model => model.subTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.igv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.igv)
                @Html.ValidationMessageFor(model => model.igv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccionOrigenId, "direccionOrigenId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("direccionOrigenId", String.Empty)
                @Html.ValidationMessageFor(model => model.direccionOrigenId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccionDestinoId, "direccionDestinoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("direccionDestinoId", String.Empty)
                @Html.ValidationMessageFor(model => model.direccionDestinoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaSolicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaSolicitud)
                @Html.ValidationMessageFor(model => model.fechaSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEntrega)
                @Html.ValidationMessageFor(model => model.fechaEntrega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuarioCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuarioCreacion)
                @Html.ValidationMessageFor(model => model.usuarioCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuarioModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuarioModificacion)
                @Html.ValidationMessageFor(model => model.usuarioModificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaCreacion)
                @Html.ValidationMessageFor(model => model.fechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaModificacion)
                @Html.ValidationMessageFor(model => model.fechaModificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comentario)
                @Html.ValidationMessageFor(model => model.comentario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
