@model IEnumerable<TransporteCarga.Models.Orden>
@{
    ViewBag.Title = "Index Guías";
}
<h2>Guias Pendientes según Estado</h2>
<div class="row">

    @using (Html.BeginForm())
    {


        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label col-md-2"> Fecha Inicio:</label>
                @Html.TextBox("start", "{0:yyyy-MM-dd}", new { @type = "date" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label col-md-2"> Fecha Fin:</label>
                @Html.TextBox("end", "{0:yyyy-MM-dd}", new { @type = "date" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="status">Estado</label>
                @Html.DropDownList("estadoOrdenId", (IEnumerable<SelectListItem>)ViewBag.estadoOrdenId, "Todos", new { @class = "form-control column_filter", @data_column = "2" })

            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-success" /> <span> </span>
            </div>
        </div>

                                


                        

    }


</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Guías en su estado actual</h5>
                    @*<div class="ibox-tools">
                            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs" })
                        </div>*@
                </div>
                <div class="ibox-content">


                    <table class="table table-stripped table-bordered table-hover dataTables-example " data-page-size="10">

                        <thead>
                            <tr>
                                <th>
                                    Nro. Guia
                                </th>
                                <th>
                                    Estado Actual
                                </th>
                                <th>
                                    Fecha Creación
                                </th>
                                
                                <th>
                                    Nro. Factura
                                </th>
                                @*<th>
                                        Fecha2
                                    </th>*@
                                <th>
                                    Remitente
                                </th>
                                <th>
                                    Destinatario
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Chofer
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Monto
                                </th>


                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GuiasSalida.FirstOrDefault().numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EstadoOrden.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaCreacion)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ventas.FirstOrDefault().numero)
                                    </td>
                                    @*<td>
                                            fecha2
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClienteOrigen.razonSocial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClienteDestinatario.razonSocial)
                                    </td>
                                    <td>
                                        @{var direccion = "";

                                        direccion = item.DireccionDestino.descripcion + ", " + item.DireccionDestino.Ubigeo.descripcion;
                                        }
                                        @direccion


                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Envios.FirstOrDefault().Chofer.apellidos)
                                    </td>
                                    <td>

                                        <ul>
                                            @foreach (var detalle in item.Detalles)
                                            {
                                                <li>
                                                    <label> @detalle.cantidad | @detalle.Producto.nombre </label>

                                                    @*@orden.ordenId  @orden.ClientePago.razonSocial @orden.DireccionOrigen.descripcion @orden.DireccionDestino.descripcion*@
                                                </li>
                                            }

                                        </ul>

                                    </td>
                                    <td align="right">
                                        S/. @Html.DisplayFor(modelItem => item.Total)

                                    </td>

                                </tr>
                            }



                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Nro. Guia
                                </th>
                                <th>
                                    Estado Actual
                                </th>
                                <th>
                                    Fecha
                                </th>
                                
                                <th>
                                    Nro. Factura
                                </th>
                                @*<th>
                                        Fecha2
                                    </th>*@
                                <th>
                                    Remitente
                                </th>
                                <th>
                                    Destinatario
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Chofer
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Monto
                                </th>


                            </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/chosen")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],
                "order": [[0, "asc"]],
                "pageLength": 25,
                "scrollX": true

            });


            $('.footable').footable();

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            // Eventos de filtros

            $('input.column_filter').on('keyup click', function () {
                filterColumn($(this).attr('data-column'));
            });

            $('select.column_filter').on('onchange click', function () {
                filterColumn($(this).attr('data-column'));
            });

            //Filtro de Chosen-select
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, no encontrado!' },
                '.chosen-select-width': { width: "200%" }
                //
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }


        });

        function filterColumn(i) {
            $('.dataTables-example').DataTable().column(i).search(
                $('#col' + i + '_filter').val()
            ).draw();
        }

    </script>
}