@model TransporteCarga.Models.Compra

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Compra</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.compraId)

        <div class="form-group">
            @Html.LabelFor(model => model.tipoDocumentoId, "tipoDocumentoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoDocumentoId", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoDocumentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.serie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serie)
                @Html.ValidationMessageFor(model => model.serie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero)
                @Html.ValidationMessageFor(model => model.numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha)
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Proveedor</label>
            <div class="col-md-10">
                @Html.DropDownList("proveedorId", String.Empty)
                @Html.ValidationMessageFor(model => model.proveedorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subTotal)
                @Html.ValidationMessageFor(model => model.subTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.igv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.igv)
                @Html.ValidationMessageFor(model => model.igv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comentario)
                @Html.ValidationMessageFor(model => model.comentario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
