@model TransporteCarga.Models.Venta

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @*@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary" })*@
            <a href="~/Orden/Index/" class="btn btn-primary">Volver a la lista </a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agregar Pago</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ventaId)
                            @{int[] ordenIds = new int[] { 1 };}

                            <input type="hidden" id="OrdenIds" name="OrdenIds" value=@ordenIds[0]>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fechaPagoReal, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.fechaPagoReal, "{0:yyyy-MM-dd}", new { @type = "date" })
                                    @Html.ValidationMessageFor(model => model.fechaPagoProgramado)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})*@
                                    
                                    <a href="~/Orden/Index/" class="btn btn-white btn-sm">Cancelar </a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>


        <div class="col-sm-4">

            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">

                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    <strong>Información Relevante</strong>
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>
                                                    Cliente: @Model.Ordenes.FirstOrDefault().ClientePago.razonSocial<br />
                                                    RUC: @Model.Ordenes.FirstOrDefault().ClientePago.ruc
                                                </p>
                                                <span class="vertical-date small text-muted"> </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>
                                                    @{
                                                        double? subTotal = 0;
                                                        double? igv = 0;
                                                        double? total = 0;
                                                        subTotal = Model.Ordenes.AsEnumerable().Sum(a => a.subTotal);
                                                        igv = Model.Ordenes.AsEnumerable().Sum(a => a.igv);
                                                        total = Model.Ordenes.AsEnumerable().Sum(a => a.Total);
                                                    }
                                                    Monto Total: S/.  @total

                                                </p>
                                                <span class="vertical-date small text-muted"> </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>
                                                    @{
                                                        string guias = "";
                                                        foreach (var orden in Model.Ordenes)
                                                        {
                                                            guias +=  orden.GuiasSalida.FirstOrDefault().serie   + "-"+ orden.GuiasSalida.FirstOrDefault().numero + ", ";
                                                        }
                                                    }
                                                    Nro Guía: @guias;
                                                    @*Nro Guía: @Html.DisplayFor(modelItem => modelItem.Orden.GuiasSalida.SingleOrDefault().serie) - @Html.DisplayFor(modelItem => modelItem.Orden.GuiasSalida.SingleOrDefault().numero)*@
                                                </p>
                                                @*<span class="vertical-date small text-muted"> @Html.DisplayFor(modelItem => modelItem.Orden.GuiasSalida.SingleOrDefault()) </span>*@
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>
                                                    Fecha Prog. Pago: @Html.DisplayFor(modelItem => modelItem.fechaPagoProgramado)
                                                </p>
                                                @*<span class="vertical-date small text-muted"> @Html.DisplayFor(modelItem => modelItem.Orden.GuiasSalida.SingleOrDefault()) </span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
