@model TransporteCarga.Models.Envio

@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Crear</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Asignar Chofer a Guías</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @*<label class="control-label col-md-2">Proveedor</label>*@
            <label class="control-label col-md-2">Proveedor</label>
            <div class="col-md-10">
                @Html.DropDownList("proveedorId", String.Empty)
                @Html.ValidationMessageFor(model => model.proveedorId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chofer</label>
            <div class="col-md-10">
                @Html.DropDownList("choferId", String.Empty)
                @Html.ValidationMessageFor(model => model.choferId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Vehículo</label>
            <div class="col-md-10">
                @Html.DropDownList("vehiculoId", String.Empty)
                @Html.ValidationMessageFor(model => model.vehiculoId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.fechaTraslado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaTraslado)
                @Html.ValidationMessageFor(model => model.fechaTraslado)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Precio (Sin IGV)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subTotal)
                @Html.ValidationMessageFor(model => model.subTotal)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.igv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.igv)
                @Html.ValidationMessageFor(model => model.igv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.formaPagoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.formaPagoId)
                @Html.ValidationMessageFor(model => model.formaPagoId)
            </div>*@
            <label class="control-label col-md-2"> Forma Pago</label>

            <div class="col-md-10">
                @Html.DropDownList("formaPagoId", String.Empty)
                @Html.ValidationMessageFor(model => model.formaPagoId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.fechaPagoProgramado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaPagoProgramado)
                @Html.ValidationMessageFor(model => model.fechaPagoProgramado)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comentario)
                @Html.ValidationMessageFor(model => model.comentario)
            </div>
        </div>



        <div class="form-group">
            @*@Html.LabelFor(model => model.TeacherIds, "Teachers")*@
            Guias Disponibles
            @*<ul>
                @foreach (TransporteCarga.Models.Orden orden in ViewBag.Ordenes)
                {
                    <li>
                        <input type="checkbox" name="OrdenIds" value="@orden.ordenId" class="i-checks" />
                        <label class="control-label">@orden.ordenId | </label>
                        <label class="control-label">@orden.ClientePago.razonSocial |</label>
                        <label class="control-label">@orden.DireccionOrigen.descripcion |</label>
                        <label class="control-label">@orden.DireccionDestino.descripcion  </label>

                    </li>
                }
                @Html.ValidationMessageFor(model => model.OrdenIds)
            </ul>*@


            <table class="table table-stripped table-bordered table-hover dataTables-example " data-page-size="10">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Guia Sistema
                        </th>
                        <th>
                            Nro Guia
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Origen
                        </th>
                        <th>
                            Destino
                        </th>
                        <th>
                            Costo (Sin IGV)
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TransporteCarga.Models.Orden orden in ViewBag.Ordenes)
                    {
                        <tr>
                            <td>
                                @*<input type="checkbox" class="i-checks" id=@Html.DisplayFor(modelItem => orden.ordenId) name="input[]">*@
                                <input type="checkbox" name="OrdenIds" value="@orden.ordenId" class="i-checks" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.ordenId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.GuiasSalida.FirstOrDefault().numero)
                                @*@if  (orden.GuiasSalida != null)
                                { 
                                    
                                }*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.ClientePago.razonSocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.DireccionOrigen.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.DireccionDestino.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.subTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orden.fechaCreacion)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>




            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
@section Styles {
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/footableStyles")
@Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
@Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/jeditable")
@Scripts.Render("~/plugins/footable")
@Scripts.Render("~/plugins/iCheck")
@Scripts.Render("~/plugins/chosen")
        <script type="text/javascript">
            $(document).ready(function () {

                $("#proveedorId").change(function () {
                    $.ajax({
                        url: "@Url.Action("GetChoferes", "Envio")",
                        data: { id: $("#proveedorId").val() },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#choferId").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#choferId").append("<option value=" + data[i].choferId + ">" + data[i].nombres + "</option>");
                        }

                    },
                    error: function () {

                    }
                    });
                    //Vehiculo
                    $.ajax({
                        url: "@Url.Action("GetVehiculos", "Envio")",
                        data: { id: $("#proveedorId").val() },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#vehiculoId").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#vehiculoId").append("<option value=" + data[i].vehiculoId + ">" + data[i].placaUnidad + "</option>");
                        }

                    },
                    error: function () {

                    }
                });


                });

                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            })

        </script>
}