@model TransporteCarga.Models.Chofer

@{
    ViewBag.Title = "Eliminar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Eliminar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Eliminar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Chofer</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">¿Está seguro que desea eliminar este registro?</h4>
				 <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroBrevete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroBrevete)
        </dd>

        <dt>
            Empresa SubContratada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroDocumentoIdentidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroDocumentoIdentidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDocumentoIdentidadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDocumentoIdentidadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-white"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


