@model TransporteCarga.Models.Chofer

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Chofer</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.choferId)

        <div class="form-group">
            @Html.LabelFor(model => model.nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres)
                @Html.ValidationMessageFor(model => model.nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidos)
                @Html.ValidationMessageFor(model => model.apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nroDocumentoIdentidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nroDocumentoIdentidad)
                @Html.ValidationMessageFor(model => model.nroDocumentoIdentidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoDocumentoIdentodadId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipoDocumentoIdentodadId)
                @Html.ValidationMessageFor(model => model.tipoDocumentoIdentodadId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaNacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaNacimiento)
                @Html.ValidationMessageFor(model => model.fechaNacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroBrevete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroBrevete)
                @Html.ValidationMessageFor(model => model.numeroBrevete)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Proveedor</label>
            <div class="col-md-10">
                @Html.DropDownList("proveedorId", String.Empty)
                @Html.ValidationMessageFor(model => model.proveedorId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
