@model TransporteCarga.Models.Producto

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Producto</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.productoId }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













