@model TransporteCarga.Models.GuiaSalida

@{
    ViewBag.Title = "Detalles";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles GuiaSalida</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MotivoTraslado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoTraslado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivoDetalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivoDetalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaTraslado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaTraslado)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.guiaSalidaId }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













